---
layout: layouts/base.ejs
title: Comisionados
---
<div class="max-w-screen-lg px-4 md:px-0 mx-auto mb-6">
  <iframe src="https://justiciapedia.redciudadana.org/#/elecciones/election-2/candidatos?embed=true" frameborder="0" class="w-full min-h-screen"></iframe>
</div>