---
layout: layouts/base.ejs
title: Comisionados
---
<div class="px-4 md:px-0 mx-auto" style="overflow-x:hidden">
  <iframe src="https://justiciapedia.redciudadana.org/#/elecciones/election-2/candidatos?embed=true" frameborder="0" class="w-screen min-h-screen"></iframe>
</div>
